*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(96, 179, 235);
}
form{
    display: flex;
    padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
    flex-direction: column;
    align-items: flex-end;
}

.titulo{
    font-size: 25px;
    text-align: center;
    padding: 25px;
    padding-bottom: 5px;
    color: cornflowerblue;
    margin: 10px;
}
.contenedor-login{
    width:400px;
    height: 480px;
    padding: 20px;
    background-color: #EAEAEA;
    border-radius: 20px;
    border: 2px solid cornflowerblue;
}
.form-group{
        width: 100%;
        padding: 30px;
}
.input{
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    border: 1px solid cornflowerblue;
    outline: none;
    margin-top: 5px;
}
.btn{
    font-size: 15px;
	margin-top:20px;
    width: 70px;
    height: 35px;
    background-color: transparent;
    border:2px solid cornflowerblue;
    border-radius: 10px;
    outline: none;
}
.btn:hover{
    background-color: cornflowerblue;
    color: white;
}